*{
    margin: 0;
}

/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
        /* informando em qual área do grid ele será colocado */
                /* SEÇÃO REFERENTE AOS GRIDS*/
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */

/* Criando a grade que vai definir a divisão da página */
body{
    display: grid; /* tipo da box*/
    /* grid-gap: 1rem; espaçamento entre os grids ((Suprimir)) */
    grid-template-areas:  /* definindo como o a página será dividida em grids*/
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer"
    ;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

/* informando em qual área do grid ele será colocado */
.header{
    grid-area: header;
    height: 150px;
}

/* informando em qual área do grid ele será colocado */
.nav{
    grid-area: nav;
    height: 35px;
}

/* informando em qual área do grid ele será colocado */
.aside{
    grid-area: aside;
    width: 200px;
}

/* informando em qual área do grid ele será colocado */
.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    height: 100px;
}

/* definindo as cores dos grids */
.header{
    background-color: darkgreen;
    color: white;
}
.nav{
    background-color: darkgreen;
    color: white;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}
.main{
    background-color: #E7E9E1;
    color: black;
}
.aside{
    background-color: #969697;
    color: black;
}
.footer{
    background-color: #424143;
    color: white;
}


/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
          /* DEFININDO CARACTERISCAS AOS ITEMS*/
                /* SEÇÃO REFERENTE AOS ITEMS*/
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
/*
 .itemNavBar{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-style: solid;
    justify-content: center;
    flex-direction: row;
}
*/

/* definindo o flexbox container da barra de navegação */
.flexContainerNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

/* definindo o flexbox item da barra de navegação */
.flexItemNav{
    background-color: darkgreen;
    /* height: 20px; */
    /* width: 150px; */
    /* text-align: center; */
    margin: 5px;
    margin-top: 8px;
    /* border: 1px solid white; */
    /* border-radius: 10px; */
    /* /* color: white;  */
}

/* editando as propriedades do botão de hiperlink */
a.navLink{
    text-decoration: none;
    color: white;
}

/* definindo a aparêcia dos botões de navegação */
.buttonNav{
    background-color: darkgreen;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 10px;
    /* border: 2px solid white; */
    transition-duration: 0.4s;
}

/* definindo o comportamento do botão quando o mouse passa por cima */
.buttonNav:hover {
    background-color: white; /* Green */
    color: black;
}

/* definindo o flexbox para o footer */
.flexContainerFoot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 10px;
}

/* definindo os items que irão estar contidor no container do flexboxcontainer do footer */
.flexItemFoot{
    width: 20%;
    height: 80px;
    margin-right: 70px;
    padding-right: 20px;
    border-right: 1px solid white;
}

/* basicamente define uma lista sem bullets */
.listaNavBar{
    list-style-type: none;
}

/* **********************************************/
/* Definição dos elementos que comporão o aside */
/* ******************ASIDE***********************/
/* **********************************************/
.flexContainerSide{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* testar se muda de volta*/
    justify-content: flex-start; /* testar a melhor opção*/
    /* justify-content: center; */
    align-items: center;
}

.flexItemSide{
    /* border: 1px solid red; */
    width: 200px;
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-bottom: 3px solid darkgrey;
    font-weight: normal;
    margin-top: 10px;
}

a.buttonSide{
    text-decoration: none;
    color: black;
}

.buttonSide{
    background-color: #969697;
}

.buttonSide:hover {
    background-color: white; /* Green */
    color: darkgreen;
}

/* **********************************************/
/* Definição dos elementos que comporão o aside */
/* ******************MAIN***********************/
/* **********************************************/
.artigo{
    font-size: large;
    color: black;
    font-weight: normal;
    height: 250px;
    border-bottom: 3px solid darkgreen;
    margin-top: 20px;
    margin-bottom: 20px;
}

article h2{
    color: darkmagenta;
    /* arrumar o espaçamento da linhas */
    /* aumentar a font*/
}
