<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="Enroter, Logistica Reversa, Sustentabilidade, Fale Conosco">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles/classStyles.css">
        <link rel="stylesheet" type="text/css" href="styles/idsStyles.css">
        <title>Enroter</title>
    </head>

    <body>
        <header class="header">
            <!--  flex box container-->
            <div class="flexboxContainerHeader">
                <!-- logo -->
                <div class="flexboxItemLogo"></div>
                
                <!-- lema da ORG -->
                <div class="flexboxItemLema">
                    <h1>Enroter</h1>
                    <h2>"Tudo na vida é um ciclo ..."</h2>
                </div>

                <!-- img de preenchimento -->
                <div class="flexboxItemImgEnch"></div>
             </div>
        </header>
    
        <nav class="nav">
            <div class="flexContainerNav">
                <div class="flexItemNav"><a href="home.html"        class="navLink buttonNav">Home</a> </div>
                <div class="flexItemNav"><a href="saibaMais.html"   class="navLink buttonNav">Saiba Mais</a></div>
                <div class="flexItemNav"><a href="faleConosco.html" class="navLink buttonNav">Fale Conosco</a></div>
            </div>
        </nav>

        <main class="main">
            <div class="fonteDestaque">
                <h2>Formulário para contato</h2>
                <p>Campos obrigatórios são seguidos por <strong><abbr title="obrigatório">*</abbr></strong></p>
            </div>
 

            <section>
                
                <form class="formulario flexboxContainerForm">
                    <h2>Fale Conosco</h2>
                    <fieldset class="bordaForm">
                        <legend>Envie-nos uma Mensagem</legend>
                        <!-- campo nome -->
                        <p>
                            <label for="nome">Nome/Nome Social <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <input type="text" name="nome" id="nome" placeholder="Felipe Flip Flap" required="">
                        </p>
                        
                        <!-- dados do telefone -->
                        <p>
                            <label for="telefone">Telefone <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <input pattern="^\d{2}\s?\d{3}\s?\d{4}-?\d{4}$" type="tel" name="telefone" id="telefone" placeholder="55 DDD 8888-7445" required="">
                            <br>
                            <!-- 1 required só?-->
                            <label for="tipoTelefone">Tipo Telefone <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <input type="radio" id="Residencial" name="tipoTelefone" value="residencial">
                            <label for="Residencial">Residencial</label>
                            <input type="radio" id="Comercial" name="tipoTelefone" value="comercial">
                            <label for="Comercial">Comercial</label>
                            <input type="radio" id="Celular" name="tipoTelefone" value="celular">
                            <label for="Celular">Celular</label>
                        <br>
                        </p>
                        
                        <!-- campo email -->
                        <p>
                            <label for="email">Email <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <input type="email" name="email" id="email" placeholder="email@email.com" required="">
                        </p>

                        <!-- campo cidade -->
                        <p>
                            <label for="cidade">Cidade <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <input type="text" name="cidade" id="cidade" placeholder="Jurassic Park" required="">
                        </p>

                        <!-- select do estado -->
                        <p>
                            <label for="estado">Selecione seu Estado <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <select name="estado" id="estado" required="">
                                <option selected="true" disabled="disabled">Selecione Seu Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </p>

                        <!-- select da faixa etaria -->
                        <p>
                            <label for="faixaEtaria">Faixa Etaria <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <select name="faixaEtaria" id="faixaEtaria" required>
                                <option selected="true" disabled="disabled">Selecione sua Faixa Etaria</option>
                                <option value="1">0 à 10</option>
                                <option value="2">11 a 25</option>
                                <option value="3">26 a 40</option>
                                <option value="4">41 a 56</option>
                                <option value="5">57 ou mais</option>
                            </select>
                        </p>

                        <!-- select da competencia (tipo do usuario) -->
                        <p>
                            <label for="competencia">Habilidades<strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <select name="competencia" id="competencia">
                                <option selected="true" disabled="disabled">Selecione o tipo de usuário</option>
                                <option value="residencia">residência</option>
                                <option value="catador">catador</option>
                                <option value="comercio">comércio</option>
                                <option value="empresa">empresa</option>
                                <option value="cooperativa">cooperativa</option>
                            </select>
                        </p>

                        <!-- input do assunto -->
                        <p>
                            <label for="assunto">Assunto</label>
                            <br>
                            <input type="text" name="assunto" id="assunto" placeholder="Exemplo">
                        </p>

                        <!-- textarea da mensagem -->
                        <p>
                            <label for="mensagem">Digite sua Mensagem <strong><abbr title="obrigatório">*</abbr></strong></label>
                            <br>
                            <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Sua Mensagem Aqui!" required=""></textarea>
                        </p>

                        <input type="submit" value="Enviar" class="buttonNav buttonForm">
                        <input type="reset" value="Limpar" class="buttonNav buttonForm">
                    </fieldset>
                </form>
            </section>
        </main>

        <!-- Descrição do aside: conterá os links dos parceiros -->
        <aside class="aside">
            <div class="flexContainerSide">
                Nossos Parceiros
                <div class="flexItemSide">
                    <p>GL Eletronics</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Pilips</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Son</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Jade</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Ruindows</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>LagOffice</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>
            </div>
        </aside>

        <!-- o footer será dividido em blocos, cada um contendo um tipo de informação -->
        <footer class="footer">
            <div class="flexContainerFoot">
                <div class="flexItemFoot">
                    Onde Estamos:
                    <address>
                        <p>
                            Alameda Sauron da Silva Sauro, Nº9000, <br> 
                            Bolha2 - Atlântida, 58848-257. <br>
                            Próximo ao Estádio das Naves 
                        </p>
                    </address>
                </div>
    
                <div class="flexItemFoot">
                    Contate-nos:
                    <ul>
                        <li>Fone: +01 (01) 2255-8815, das 14:00 as 14:05.</li>
                        <li>Email: Enroter@enroter.com.atl</li>
                        <li>Caixa Postal: 55525-000</li>
                    </ul>                       
                </div>
    
                <div class="flexItemFoot">
                    Ajuda:
                    <ul>
                        <li>Trabalhe Conosco</li>
                        <li>Denuncias</li>
                        <li>Site do Gov</li>
                    </ul>
                </div>
            </div>
            <p>Copyright: Todos os direitos reservados ©. Os direitos das imagens utilizadas pertencem aos seus respectivos
                donos. As mesmas imagens foram utilizadas exclusivamente para fins didáticos.
            </p>
        </footer>
    </body>
</html>