<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enroter</title>
    </head>
    <body>
        <header id="cabecalho">
            <h1>ENROTER - Tudo na vida é um ciclo</h1>
        </header>

        <nav>
            <a>[Home] </a> <a href="saibaMais.html">[Saiba Mais] </a>   <a href="faleConosco.html">    [Fale Conosco]  </a>
        </nav>

        <main id="corpo">
            <section>
                <div id="menu-nav">
                    <ul>
                        <a href="#oqFazemos"><li>O que fazemos?</li></a>
                        <a href="#comoFunfa"><li>Como Funciona</li></a>
                        <a href="#nossaMissao"><li>Nossa Missão</li></a>
                        <a href="#oqeh"><li>O que é Logística Reversa?</li></a>
                        <a href="#consumidor"><li>O consumidor</li></a>
                        <a href="#empresas"><li>As empresas</li></a>
                    </ul>
                </div>
                <article>
                    <h2 id="oqFazemos">O que fazemos?</h2>
                    <p>
                        A Enroter é focada na <strong>logística reversa de dispositivos eletrônicos</strong> tais como:
                        <ul>
                            <li>notebooks;</li>
                            <li>Pcs;</li>
                            <li>Celulares;</li>
                            <li>Projetores;</li>
                            <li>Câmeras Fotográficas;</li>
                            <li>Televisores;</li>
                        </ul> 
                        Para realizar a coleta buscamos estreitar a relação entre os consumidores e os produtores de dispositivos eletrônicos que se propõem
                        a realizar o reaproveitamento ou descarte apropriado. Para tal, criamos uma solução capaz proporcionar esse relacionamento.    
                    </p>
                </article>

                <article>
                    <h2 id="comoFunfa">Como Funciona a plataforma</h2>
                    <p>
                        As empresas que se propuserem a coletar os dispositivos eletrônicos se cadastram na plataforma informando
                        seus dados de contato a fim de permitir que o consumidor encontre o local para realizar a devolução desses
                        dispositivos.
                        O consumidor também pode efetuar seu cadastro para agendar a coleta dos dispositivos em sua residência, caso
                        o parceiro possua mecanismos para efetuar coleta residencial.
                    </p>

                </article>

                <article>
                    <h2 id="nossaMissao">Nossa Missão</h2>
                    <p>
                        Nós da Enroter acreditamos que com a participação de todos o mundo se torna um lugar melhor, por isso fazemos
                        nosso trabalho com todo amor e carinho.
                        Nós nos comprometemos a unir a lacuna que existe entre as partes que produzem, os consumidores que desejam
                        retornar seus produtos e as pessoas que veem no retorno de materiais o seu ofício. Dessa forma todos se aliam
                        para manter o bem-estar do meio ambiente.
                    </p>
                </article>

                <article>
                    <h2 id="oqeh">O que é Logística Reversa?</h2>
                    <p>
                        Segundo o <cite>Ministério do Meio Ambiente:</cite> 
                        "A Logística Reversa é um instrumento de desenvolvimento econômico e social caracterizado por um conjunto
                        de ações, procedimentos e meios destinados a viabilizar a coleta e a restituição dos resíduos sólidos ao 
                        setor empresarial, para reaproveitamento, em seu ciclo ou em outros ciclos produtivos, ou 
                        outra destinação final ambientalmente adequada". Ou seja, o indivíduo responsável pela criação do
                        produto em questão se compromete a recebê-lo a fim de realizar o descarte de forma adequada. 
                    </p>
                    <p>
                        Esse descarte muitas vezes se torna inviável ao consumidor, para tal, a empresa se torna como ator fundamental
                        para a manutenção da qualidade do meio ambiente.
                    </p>
                    <figure>
                        <img src="../Assets/ciclo.png" alt="Imagem do ciclo de Logística Reversa" title="ciclo">
                        <figcaption>Ciclo de vida da Logística Reversa. <em>Fonte: Iguiecologia</em></figcaption>
                    </figure>
                </article>

                <article>
                    <h2 id="consumidor">O consumidor</h2>
                    <p>
                        Nós, como consumidores, desempenhamos papel central no processo de logística reversa. São responsabilidades
                        do consumidor:
                        <ul>
                            <li>Prezar pela retenção do material;</li>
                            <li>Acondicionar o dispositivo em local longe das ações do meio ambiente;</li>
                            <li>Realizar o retorno à empresa responsável;</li>
                        </ul> 
                    </p>            
                </article>

                <article>
                    <h2 id="empresas">As empresas</h2>
                    <p>
                        As empresas vêm sendo cobradas - não só pelas organizações governamentais, mas pelos próprios
                        consumidores - a assumir um papel mais responsável em relação ao pós-venda de seus produtos.
                        No quesito de responsabilidades esperados pelas empresas destacamos:
                        <ul>
                            <li>Se prontificar a receber os produtos que necessitam de descarte adequado;</li>
                            <li>Munir-se de boa vontade no atendimento do cliente;</li>
                            <li>Realizar o reaproveitamento ou descarte apropriado para cada componente;</li>
                        </ul>
                    </p>
                </article>
            </section>
        </main>

        <footer id="rodape">
            Onde Estamos:
            <address>
                Alameda Sauron da Silva Sauro, Nº9000, Bolha2 - Atlântida, 58848-257.
                <br>
                Fone: +00 (00) 2255-8815, das 14:00 até as 14:05.
            </address>
            <p> 
                <em>Copyright: Todos os direitos reservados ©</em>
            </p>
            <p>
                <a href="#cabecalho">[Voltar ao Topo]</a>
            </p>
        </footer>
    </body>
</html>