<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="Enroter, Logistica Reversa, Sustentabilidade, Saiba Mais">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles/classStyles.css">
        <link rel="stylesheet" type="text/css" href="styles/idsStyles.css">
        <title>Enroter</title>
    </head>
    
    <body>
        <header class="header">
            <!--  flex box container-->
            <div class="flexboxContainerHeader">
                <!-- logo -->
                <div class="flexboxItemLogo"></div>
                
                <!-- lema da ORG -->
                <div class="flexboxItemLema">
                    <h1>Enroter</h1>
                    <h2>"Tudo na vida é um ciclo ..."</h2>
                </div>

                <!-- img de preenchimento -->
                <div class="flexboxItemImgEnch"></div>
             </div>
        </header>
    
        <nav class="nav">
            <div class="flexContainerNav">
                <div class="flexItemNav"><a href="home.html" class="navLink buttonNav">Home</a> </div>
                <div class="flexItemNav"><a href="saibaMais.html" class="navLink buttonNav">Saiba Mais</a></div>
                <div class="flexItemNav"><a href="faleConosco.html" class="navLink buttonNav">Fale Conosco</a></div>
            </div>
        </nav>

        <main class="main">
            <div class="menuIndice">
                <h3>Navegação Rápida</h3>
                <ul>
                    <a href="#sobreNos"     class="botaoIndice"><li>Mais um Pouco Sobre Nós</li></a>
                    <a href="#dependencias" class="botaoIndice"><li>Nossas Dependências</li></a>
                    <a href="#parceiros"    class="botaoIndice"><li>Nossos Parceiros</li></a>
                </ul>
            </div>

            <section>
                <article class="artigo">
                    <h2 id="sobreNos">Mais um pouco sobre Nós</h2>
                    <p>
                        A Enroter é fruto do espírito empreendedor do nosso magnânimo Lucas Fernandes de Paiva, que acredita
                        na responsabilidade individual como caminho para um mundo melhor. A ideia para fundar a Enroter veio durante
                        uma de suas viagens à Sibéria.                  
                    </p>
                    <p>
                        Com sua ideia formada e uma sobre-humana força de vontade Lucas fundou a Enroter e se tornou a pessoa
                        mais rica da sua turma de pilates. Mais informações sobre nosso fundador em <a href="https://www.Lucas.com.br">Lucas.com.br</a>
                    </p>
                </article>

                <article class="artigo">
                    <h2 id="dependencias">Nossas Dependências</h2>
                    <p>
                        Nos localizamos no centro do polo tecnológico de Atlantida e contamos com uma das Dependências
                        mais modernas no quesito conforto.
                        <figure>
                            <img src="../Assets/escritorio.jpg" id="bannerCorpo" alt="Escritorio da Enroter">
                            <figcaption>Nossas dependências <em>Fonte: rsdesign ©</em></figcaption>
                        </figure>
                    </p>
                </article>

                <article class="artigo">
                    <h2 id="parceiros">Nossos Parceiros</h2>
                    <p>
                        Nós aqui na Enroter acreditamos que a cooperação salvará o mundo.
                        "Andorinha sozinha não faz verão", ou algo do tipo, não sei, não sou uma andorinha, <em>por enquanto</em>.
                        <br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xK2TReQePVc" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                        </iframe>
                    </p>
                </article>
            </section>    
        </main>

         <!-- Descrição do aside: conterá os links dos parceiros -->
         <aside class="aside">
            <div class="flexContainerSide">
                Nossos Parceiros
                <div class="flexItemSide">
                    <p>GL Eletronics</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Pilips</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Son</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Jade</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>Ruindows</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>

                <div class="flexItemSide">
                    <p>LagOffice</p>
                    <a href="" class="buttonNav buttonSide">site oficial</a>
                </div>
            </div>
        </aside>

        <!-- o footer será dividido em blocos, cada um contendo um tipo de informação -->
        <footer class="footer">
            <div class="flexContainerFoot">
                <div class="flexItemFoot">
                    Onde Estamos:
                    <address>
                        <p>
                            Alameda Sauron da Silva Sauro, Nº9000, <br> 
                            Bolha2 - Atlântida, 58848-257. <br>
                            Próximo ao Estádio das Naves 
                        </p>
                    </address>
                </div>
    
                <div class="flexItemFoot">
                    Contate-nos:
                    <ul>
                        <li>Fone: +01 (01) 2255-8815, das 14:00 as 14:05.</li>
                        <li>Email: Enroter@enroter.com.atl</li>
                        <li>Caixa Postal: 55525-000</li>
                    </ul>                       
                </div>
    
                <div class="flexItemFoot">
                    Ajuda:
                    <ul>
                        <li>Trabalhe Conosco</li>
                        <li>Denuncias</li>
                        <li>Site do Gov</li>
                    </ul>
                </div>
            </div>
            <p>Copyright: Todos os direitos reservados ©. Os direitos das imagens utilizadas pertencem aos seus respectivos
                donos. As mesmas imagens foram utilizadas exclusivamente para fins didáticos.
            </p>
        </footer>
    </body>
    
</html>