<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enroter</title>
    </head>
    <body>
        <header id="cabecalho">
            <h1>ENROTER- porque a vida é um ciclo</h1>
        </header>
    
        <nav>
            <a href="home.html">[Home] </a> <a>[Saiba Mais] </a>   <a href="faleConosco.html">    [Fale Conosco]  </a>
        </nav>

        <main>
            <section>
                <article>
                    <h2>Mais um pouco sobre Nós</h2>
                    <figure>
                        <img src="../Assets/logo.png" alt="Logo Enroter">
                        <figcaption><p>Logo Enroter <em>by LogoMaker©</em></p></figcaption>
                    </figure>
                    <p>
                        A Enroter é fruto do espírito empreendedor do nosso magnânimo Lucas Fernandes de Paiva, que acredita
                        na responsabilidade individual como caminho para um mundo melhor. A ideia para fundar a Enroter veio durante
                        uma de suas viagens à Sibéria.                  
                    </p>
                    <p>
                        Com sua ideia formada e uma sobre-humana força de vontade Lucas fundou a Enroter e se tornou a pessoa
                        mais rica da sua turma de pilates. Mais informações sobre nosso fundador em <a href="https://www.Lucas.com.br">Lucas.com.br</a>
                    </p>
                </article>

                <article>
                    <h2>Nossas Dependências</h2>
                    <p>
                        Nos localizamos no centro do polo tecnológico de Atlantida e contamos com uma das Dependências
                        mais modernas no quesito conforto.

                        <figure>
                            <img src="../Assets/escritorio.jpg" alt="Escritorio da Enroter">
                            <figcaption>Nossas dependências <em>Fonte: rsdesign ©</em></figcaption>
                        </figure>
                    </p>
                </article>

                <article>
                    <h2>Nossos Parceiros</h2>
                    <p>
                        Nós aqui na Enroter acreditamos que a cooperação salvará o mundo.
                        "Andorinha sozinha não faz verão", ou algo do tipo, não sei, não sou uma andorinha, <em>por enquanto</em>.
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xK2TReQePVc" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                        </iframe>
                    </p>
                </article>
            </section>    
        </main>

        <footer id="rodape">
            Onde Estamos:
            <address>
                Alameda Sauron da Silva Sauro, Nº9000, Bolha2 - Atlântida, 58848-25
                Fone: +00 (00) 2255-8815, das 14:00 até as 14:05.
            </address>
            <p> 
                <em>Todos os direitos reservados ©</em>
            </p>
            <p>
                <a href="#cabecalho">[Voltar ao Topo]</a>
            </p>
        </footer>
    </body>
    
</html>